<div layout="column" layout-align="center center">
    <h1 md-display-3>Registration</h1>

    <form id="registrationForm" name="myForm" ng-submit="register(user)" novalidate autocomplete="off">
        <div class="form-group">
            <md-input-container >
                <label for="">Username</label>
                <input class="form-control" type="text" name="username" ng-model="user.username" required>
            </md-input-container>
            <md-input-container >
                <label for="">Email</label>
                <input class="form-control" type="email" name="email" ng-model="user.email" required>
            </md-input-container>
            <md-input-container >
                <label for="">Password</label>
                <input class="form-control" type="password" name="password" ng-model="user.password" ng-minlength="8" password-error message="message" required/>
            
            
            </md-input-container>
            <md-input-container >
                <label for="">Repeat Password</label>
                <input class="form-control" type="password" name="rpassword" ng-model="RepeatPassword" ng-minlength="8" required>
            </md-input-container>
        </div>
        <md-button   class="md-raised md-primary" flex-sm="100" ng-disabled="registrationForm.$invalid">Register</md-button>
        
    </form>
</div>
<hr>
<h3 md-display-3>Utenti Registrati</h3>
<div ng-repeat="utente in UserService.list()">
    <p ng-bind="::utente.username"></p>
    <!--<p ng-bind="::utente.id"></p>-->
    <!--<p ng-bind="::utente.email"></p>-->
    <!--<p ng-bind="::utente.password"></p>-->
    <hr>
</div>
